{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block title %}
  {{ school_class.number }} | {{ subject.name }}
{% endblock %}


{% block content %}
  <h1>
    Class: {{ school_class.number }} <span class="mx-4 h1">|</span>
    Subject: {{ subject.name }} <span class="mx-4 h1">|</span>
    <a href="{% url "grades:categories:create" school_class.slug subject.slug %}">
      Categories
    </a>
  </h1>
  <div class="table-responsive">
    <table class="table table-bordered table-responsive" id="grades">
      <thead>
      <tr>
        <th>Student</th>
        <th style="width:10%" ></th>
        {% for category in categories %}
          <th>
            {{ category.name }}
            {% if category.grades.all|length != students|length %}
              <a href="{{ category.bulk_grade_creation_url }}"
                 class="badge bg-primary text-white link-unstyled float-end">
                +
              </a>
            {% endif %}
          </th>

        {% endfor %}
        <th>
          Average
        </th>
      </tr>
      </thead>
      <tbody>
      {% for student in students %}
        <tr class="student-{{ student.pk }}">
          <td>{{ student.full_name }}</td>
          <td class="text-center">
            <a href="{% url "grades:add" class_slug subject_slug %}?student={{ student.pk }}"
               class="btn btn-outline-primary">
              +
            </a>
          </td>
          {% for category in categories %}
            <td class="category-{{ category.pk }}"></td>
          {% endfor %}

          <td>
            {% if student.w_avg %}
              {{ student.w_avg|floatformat:2 }}
            {% else %}
              -
            {% endif %}
          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}

{% block js %}
  <script>
      const grades = document.querySelector("#grades");

      {% for student in students %}
          {% for grade in student.subject_grades %}
              {
                  const td = grades.querySelector(`.student-{{ grade.student.pk }} .category-{{ grade.category.pk }}`);
                  td.innerText = "{{ grade.get_grade_display }}";
                  td.dataset.bsToggle="popover";
                  td.dataset.bsContent = `
                    <h3>{{ grade.comment }}</h3>
                    <p>Weight: {{ grade.weight }}</p>
                    <a href="{{ grade.update_url }}" class="btn btn-outline-primary">Update</a>
                    <button class="btn btn-outline-danger gradeDeleteButton"
                       hx-get="{{ grade.delete_url }}"
                       hx-target="#base-modal .modal-content"
                       hx-swap="innerHTML"
                       data-bs-toggle="modal"
                       data-bs-target="#base-modal">Delete</a>
                  `;
              }
          {% endfor %}
      {% endfor %}

      bootstrap.Tooltip.Default.allowList.h1 = ["*"]
      const popoverTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="popover"]'))
      const popoverList = popoverTriggerList.map(function (popoverTriggerEl) {
          return new bootstrap.Popover(popoverTriggerEl, {
              container: "body",
              sanitize: false,
              html: true,
          })
      })

      popoverTriggerList.forEach(function (element) {
           element.addEventListener('shown.bs.popover', function() {
               htmx.process(document.querySelector(".gradeDeleteButton"));
           });
        });

      document.querySelector("#base-modal").addEventListener('show.bs.modal', function (){
            popoverList.forEach(function (element) {
                element.hide()
            });
        });
  </script>
{% endblock %}
