{% extends "base.html" %}

{% block title %}
  Grades categories | Class: {{ school_class }} | Subject: {{ subject }}
{% endblock %}

{% block content %}
  <h1>Grades categories | Class: {{ school_class }} | Subject: {{ subject }}</h1>
  <ul class="list-group my-4" id="categories">
    {% for category in categories %}
        {% include "grades/partials/grade_category_detail.html" with category=category %}
    {% endfor %}
  </ul>

  <hr>

  <button class="btn btn-primary"
          hx-get="{% url "grades:categories:form" %}"
          hx-target="#categories"
          hx-swap="beforeend">
    Add new
  </button>
{% endblock %}

{% block js_libraries %}
  <script src="https://unpkg.com/htmx.org@1.5.0" integrity="sha384-oGA+prIp5Vchu6we2YkI51UtVzN9Jpx2Z7PnR1I78PnZlN8LkrCT4lqqqmDkyrvI" crossorigin="anonymous"></script>
{% endblock %}

{% block js %}
    document.addEventListener("htmx:configRequest", e => {
        e.detail.headers["X-CSRFToken"] = "{{ csrf_token }}"
    })
{% endblock %}