{% extends "base.html" %}

{% block title %}
  Class {{ school_class.number }}
{% endblock %}

{% block content %}
  <h1>Class: {{ school_class.number }}</h1>
  <h3>Tutor: {{ school_class.tutor.full_name }}</h3>

  <h3>Students:</h3>
  <ul class="list-group">
    {% for student in school_class.students.all %}
      <li class="list-group-item">
        <a href="{{ student.student_detail_url }}">
          {{ student.full_name }}
        </a>

        <a href="{{ student.attendance_url }}" class="float-end">attendance</a>
      </li>
    {% empty %}
      <p>This class does not contain any students.</p>
    {% endfor %}
  </ul>

  {% if school_class.tutor == request.user %}
    <a class="btn btn-primary mt-3" href="{{ school_class.summary_pdf_url }}" download>
      Download class summary PDF
    </a>
  {% endif %}
{% endblock %}
