{% extends "base.html" %}

{% block title %}
  Class {{ school_class.number }}
{% endblock %}

{% block content %}
  <h1>Class: {{ school_class.number }}</h1>
  <h2>Tutor: {{ school_class.tutor.full_name }}</h2>

  <h2>Students:</h2>
  <ul class="list-group">
    {% for student in school_class.students.all %}
      <li class="list-group-item">
        <a href="{{ student.student_detail_url }}">
          {{ student.full_name }}
        </a>

        <a href="{{ student.attendance_url }}" class="float-end">attendance</a>
      </li>
    {% empty %}
      <p>This class does not contain any students.</p>
    {% endfor %}
  </ul>
{% endblock %}