{% extends "base.html" %}

{% block title %}
  Classes
{% endblock %}

{% block content %}
  <h1>Class: {{ class.number }}</h1>
  <h2>Tutor: <a href="#">{{ class.tutor.first_name }} {{ class.tutor.last_name }}</a></h2>

  <h2>Students:</h2>
  <ul class="list-group">
    {% for student in class.studens %}
      <li class="list-group-item">
        <a href="#">
          {{ student.user.first_name }} {{ student.user.last_name }}
        </a>
      </li>
    {% empty %}
      <p>This class does not contain any students.</p>
    {% endfor %}
  </ul>
{% endblock %}