`{% extends "base.html" %}

{% block title %}
  Classes
{% endblock %}

{% block content %}
  <h1>Classes</h1>
  <ul class="list-group my-4">
    {% for school_class in school_classes %}
      <li class="list-group-item">
       <a href="{{ school_class.get_absolute_url }}">
          {{ school_class.number }}
        </a>
       <a href="{{ school_class.get_timetable_url }}" class="float-end">
         timetable
       </a>
      </li>
    {% empty %}
      <p>No classes have been created yet.</p>
    {% endfor %}
  </ul>
{% endblock %}