{% extends "base.html" %}

{% block title %}
  Classes
{% endblock %}

{% block content %}
  <h1>Classes</h1>
  <ul class="list-group my-4">
    {% for class in classes %}
      <li class="list-group-item">
       <a href="{{ class.get_absolute_url }}">
          {{ class.number }}
        </a>
        <span class="mx-5">|</span>
       <a href="{{ class.get_timetable_url }}">
         timetable
       </a>
      </li>
    {% empty %}
      <p>No classes have been created yet.</p>
    {% endfor %}
  </ul>
{% endblock %}