{% extends "base.html" %}

{% block title %}
  Classes
{% endblock %}

{% block content %}
  <h1>Classes</h1>
  <ul class="list-group my-4">
    {% for school_class in school_classes %}
      <li class="list-group-item">
        <a href="{{ school_class.detail_url }}">
          {{ school_class.number }}
        </a>
        <span class="float-end">
          <a href="{{ school_class.subject_list_url }}">
            subjects
          </a>
          &nbsp;
          <a href="{{ school_class.timetable_url }}">
            timetable
          </a>
          &nbsp;
          <a href="{{ school_class.attendance_url }}">
            attendance
          </a>
        </span>

      </li>
    {% empty %}
      <p>No classes have been created yet.</p>
    {% endfor %}
  </ul>
{% endblock %}