@import url('http://fonts.cdnfonts.com/css/harry-potter');

* {
    font-family: "Harry potter", sans-serif;
}

html, body {
    height: 100%;
    margin: 0;
}

#login-page-background {
    background-image: url("../images/hogwart.jpg");
    background-size: cover;
    background-position: bottom;
    background-attachment: fixed;
}

#login-form-wrapper {
    width: 90%;
    height: auto;
    max-width: 600px;
    padding: 30px;
    background-color: rgba(0,0,0,0.5);
    color: white;
}

#login-form-wrapper input[type="text"], #login-form-wrapper input[type="password"]  {
    background-color: black;
    color: white;
}

#not-a-muggle-checkbox{
    margin-top: 20px;
    margin-bottom: 15px;
}

.navbar {
    border-bottom: 1px solid lightgray;
    padding: 1em;
}

.nav-link {
    color: black !important;
}

.nav-link:hover, .navbar-brand:hover {
    color: lightgray !important;
    transition: 0.15s;
}

.asteriskField {
    display: none;
}

#personal-info, #homework-info {
    font-size: 1.4em;
}

.lesson-details {
    font-size: 0.75em;
}

input, select {
    margin-bottom: 0.5em;
}

.link-unstyled, .link-unstyled:link, .link-unstyled:hover {
    color: inherit;
    text-decoration: inherit;
}

table {
    word-wrap: break-word;
}

#calendar td{
    width: 14%;
}

.table {
    overflow-x: auto !important;
    width: 100% !important;
}

.message-unread {
    color: #0275d8 !important;
}

.message-topic:hover {
    color: lightgray !important;
    transition: 0.15s;
}

.message-datetime {
    font-size: 0.7em;
}

.collapse-panel {
    margin-bottom: 2px;
    width: 100%;
    padding: 3px;
    border: solid 1px lightgray;
    border-radius: 5px;
}

input[type="checkbox"] {
    margin-left: 10px;
}

[data-bs-toggle="popover"]:hover {
    cursor: pointer;
}

.event:hover {
    opacity: 0.9;
    transition: 0.15s
}
