.navbar {
    border-bottom: 1px solid lightgray;
    padding: 1em;
}

.nav-link {
    color: black !important;
}

.nav-link:hover, .navbar-brand:hover {
    color: lightgray !important;
    transition: 0.15s;
}

.asteriskField {
    display: none;
}

#personal-info {
    font-size: 1.4em;
}

.lesson-details {
    font-size: 0.75em;
}

input, select {
    margin-bottom: 0.5em;
}

table {
    table-layout: fixed;
    word-wrap: break-word;
}

.link-unstyled, .link-unstyled:link, .link-unstyled:hover {
  color: inherit;
  text-decoration: inherit;
}