{% extends "base.html" %}

{% block title %}
  Subjects | Class: {{ school_class }}
{% endblock %}

{% block content %}
  <h1>Subjects | Class: {{ school_class }}</h1>
  <ul class="list-group">
    {% for subject  in subjects %}
      <ul class="list-group-item">
        {{ subject.name }}

        {% if subject.does_the_teacher_teach_the_subject_to_the_class %}
          <span class="float-end">
            <a href="{% url "grades:class_grades" school_class.slug subject.slug %}">
              grades
            </a>
            &nbsp;
            <a href="{% url "grades:categories:create" school_class.slug subject.slug %}">
              grades categories
            </a>
          </span>
        {% endif %}
      </ul>
    {% endfor %}
  </ul>
{% endblock %}