{% extends "base.html" %}

{% block title %}
  Homework details
{% endblock %}

{% block content %}
  <h1>Homework details</h1>
  <ul id="homework-info">
    <li><strong>Title:</strong> {{ homework.title }}</li>
    <li><strong>Description:</strong> {{ homework.description }}</li>
    <li><strong>Subject:</strong> {{ homework.subject.name }}</li>
    {% if request.user.is_teacher %}
      <li><strong>Class:</strong> {{ homework.school_class.number }}</li>
    {% endif %}
    <li><strong>Attached Files:</strong>
      {% if homework.attached_files.all %}
        <ul>
          {% for file in homework.attached_files.all %}
            <div hx-target="this" hx-swap="outerHTML">
              <button class="btn p-1" title="Delete" hx-post="{{ file.delete_url }}">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash"
                     viewBox="0 0 16 16">
                  <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                  <path fill-rule="evenodd"
                        d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                </svg>
              </button>
              <a href="{{ file.file.url }}" download>Attachment {{ forloop.counter }}</a>
            </div>
          {% endfor %}
        </ul>
      {% else %}
        -
      {% endif %}
    </li>
  </ul>
  {% if request.user.is_student %}
    {% if not homework_realisation %}
      <button class="btn btn-primary"
              hx-get="{{ homework.submit_realisation_url }}"
              hx-target="#base-modal .modal-content"
              hx-swap="innerHTML"
              data-bs-toggle="modal"
              data-bs-target="#base-modal">
        Submit your homework realisation
      </button>
    {% else %}
      <hr>
      <h1>Your realisation:</h1>
      <ul class="list-group">
        {% for file in homework_realisation.attached_files.all %}
          <li class="list-group-item">
            <a href="{{ file.file.url }}" download class="text-decoration-none">
              Attachment {{ forloop.counter }}
            </a>
          </li>
        {% endfor %}
      </ul>
    {% endif %}
  {% else %}
    <hr>
    <h1>Students Realisations:</h1>
    <div class="table-responsive">
      <table class="table table-bordered">
        <thead>
        <tr>
          <th>Student</th>
          <th>Realisation</th>
          <th>Status</th>
        </tr>
        </thead>
        <tbody>
        {% for student in students %}
          {% with realisation=student.realisation.0 %}
            <tr>
              <td>{{ student.full_name }}</td>
              <td>
                {% if realisation.attached_files.all %}
                  {% for file in realisation.attached_files.all %}
                    <a href="{{ file.file.url }}" download class="text-decoration-none">
                      File {{ forloop.counter }}
                    </a>
                  {% endfor %}
                {% else %}
                  -
                {% endif %}
              </td>
              <td>
                {% if realisation %}
                  {% if realisation.submission_date > homework.completion_date %}
                    LATE
                  {% else %}
                    SUBMITTED
                  {% endif %}
                {% else %}
                  UNSUBMITTED
                {% endif %}
              </td>
            </tr>
          {% endwith %}
        {% endfor %}
        </tbody>
      </table>
    </div>
  {% endif %}
{% endblock %}
