{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block title %}
  {{ lesson_session }}
{% endblock %}

{% block content %}
  <h1 class="d-inline-block">{{ lesson_session }}</h1>
  <span class="mx-4 h1">|</span>
  <a href="{% url "grades:class_grades" lesson_session.lesson.school_class.slug lesson_session.lesson.subject.slug %}" class="d-inline-block h1">Grades</a>
  <form action="{{ lesson_session.get_absolute_url }}" method="post">
    {{ presences_formset.management_form }}
    {{ lesson_session_form|crispy }}

    <hr>
    <h3>Presences:</h3>

    {% for presence_form in presences_formset %}
      <label for="{{ presence_form.status.id_for_label }}">
        {{ presence_form.instance.student }}
      </label>
      {{ presence_form|crispy }}
    {% endfor %}

    <input type="submit" value="Update" class="btn btn-outline-success mt-2">

    {% csrf_token %}
  </form>
{% endblock %}