{% extends "base.html" %}

{% block title %}
  Lessons
{% endblock %}

{% block content %}
  <h1>Lesson Sessions</h1>
  <div class="row">
    <div class="col-9">
      <ul class="list-group">
        {% for lesson_session in lesson_sessions %}
          <li class="list-group-item">
            <a href="{{ lesson_session.detail_url }}">{{ lesson_session.lesson }}</a>
          </li>
        {% empty %}
          <p>There are no lessons on the given date.</p>
        {% endfor %}
      </ul>
    </div>

    <div class="col-3">
      <form method="get">
        <label for="date_to">Date:</label>
        <input type="date" name="date" id="date_to" class="form-control"
               value="{% if date %}{{ date }}{% else %}{% now "Y-m-d" %}{% endif %}">
        <input type="submit" class="btn btn-outline-success my-3" value="Filter">
      </form>
    </div>
  </div>

{% endblock %}