{% extends "base.html" %}

{% block title %}
  Lesson Sessions
{% endblock %}

{% block content %}
  <h1>Lesson Sessions</h1>
  <div class="row">
    <div class="col-9">
      <ul class="list-group">
        {% for lesson_session in lesson_sessions %}
          <li class="list-group-item">
            <a href="{{ lesson_session.detail_url }}">{{ lesson_session.lesson }}</a>
          </li>
        {% empty %}
          <p>There are no lessons on the given date.</p>
        {% endfor %}
      </ul>
    </div>

    <div class="col-3">
        <label for="date_to" class="mb-1">Date:</label>
        <input type="date" name="date" id="date_to" class="form-control"
               value="{% if date %}{{ date }}{% else %}{% now "Y-m-d" %}{% endif %}">
    </div>
  </div>
{% endblock %}

{% block js %}
  <script>
      let dateInput = document.querySelector("#date_to");
      dateInput.addEventListener("change", function (){
          let date = dateInput.value;
          let url = `${location.protocol}//${location.host}${location.pathname}?date=${date}`
          location.replace(url);
      });
  </script>
{% endblock %}
