{% extends "base.html" %}

{% block title %}
  Timetables
{% endblock %}

{% block content %}
  <h1>Timetables</h1>
  <h3>By class</h3>
  <ul class="list-group my-4">
    {% for school_class in school_classes %}
      <li class="list-group-item"><a href="{{ school_class.timetable_url }}">{{ school_class.number }}</a></li>

    {% endfor %}
  </ul>

  <h3>By teacher</h3>
  {% for teacher in teachers %}
    <li class="list-group-item"><a href="{{ teacher.teacher_timetable_url }}">{{ teacher.full_name }}</a>
    </li>
  {% endfor %}
{% endblock %}