<div class="modal-header">
  <h5 class="modal-title" id="exampleModalLabel">
    {% block title %}{% endblock %}
  </h5>
  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<div class="modal-body">
  <form id="modal-form" method="post" enctype="multipart/form-data" action="{{ request.get_full_path }}">
    {% block body %}{% endblock %}
    {% csrf_token %}
  </form>
</div>
<div class="modal-footer">
  {% block footer %}
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
    <button type="submit" class="btn btn-primary" form="modal-form">Confirm</button>
  {% endblock %}
</div>