<div class="text-white p-1 my-1 rounded event
            {% if not event.status.0.seen  %}
              bg-warning
            {% elif event.school_class %}
              bg-primary
            {% else %}
              bg-danger
            {% endif %}"
     data-bs-toggle="popover" title="{{ event.title }}"
     data-bs-content="<strong>Description: </strong>{% if event.description %}{{ event.description }}{% endif %}<br>
                      <strong>Created: </strong> {{ event.created }}<br>
                      <strong>Teacher: </strong> {{ event.teacher.full_name  }}<br>
                      <strong>Scope:</strong> {% if event.school_class %}{{ event.school_class }}{% else %}global{% endif %}<br>
                      {% if user == event.teacher %}<a href='{{ event.update_url }}' class='btn btn-outline-primary'>Update</a>
                      <button
                        class='btn btn-outline-danger eventDeleteButton'
                        hx-get='{{ event.delete_url }}'
                        hx-target='#base-modal .modal-content'
                        hx-swap='innerHTML'
                        hx-trigger='click'
                        data-bs-toggle='modal'
                        data-bs-target='#base-modal'>
                          Delete
                       </button>{% endif %}">
  {{ event.title }}
</div>
