{% extends "base.html" %}

{% block title %}
  Events
{% endblock title %}

{% block content %}
  <h1>Events</h1>

  <div class="mb-2">
    <button class="btn btn-primary p-0" hx-target="body"
            hx-swap="outerHTML" hx-get="{% url "events:calendar" %}?year={{ year }}&month={{ month|add:"-1" }}">
      <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-arrow-left-short" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M12 8a.5.5 0 0 1-.5.5H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5a.5.5 0 0 1 .5.5z"/>
      </svg>
    </button>

    <button class="btn btn-primary p-0" hx-target="body"
            hx-swap="outerHTML" hx-get="{% url "events:calendar" %}?year={{ year }}&month={{ month|add:"1" }}">
      <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-arrow-right-short" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"/>
      </svg>
    </button>


    {% if request.user.is_teacher %}
    <a href="{% url "events:create" %}">
      <button class="btn btn-primary float-end" >
        Create
      </button>
    </a>
    {% endif %}
  </div>

  <div class="table-responsive" id="calendar">
    {{ calendar|safe }}
  </div>


{% endblock content %}

{% block js %}
  <script>
      const popoverTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="popover"]'));
      const popoverList = popoverTriggerList.map(function (popoverTriggerEl) {
          return new bootstrap.Popover(popoverTriggerEl, {
              container: "body",
              sanitize: false,
              html: true,
          });
      });

      popoverTriggerList.forEach(function (element) {
         element.addEventListener('shown.bs.popover', function () {
             htmx.process(document.querySelector(".eventDeleteButton"));
         });
      });

      document.querySelector("#base-modal").addEventListener('show.bs.modal', function (){
          popoverList.forEach(function (element) {
              element.hide()
          });
      });

  </script>
{% endblock %}
